0 * * * * root /usr/local/bin/python /bndf/entrypoint.py >> /var/log/cron.log 2>&1
0 1 * * 1 root /usr/local/bin/python /bndf/AnomalyDetection.py -o -s 70 -3 -2 >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job