[Unit]
Description=Fingerprint generator service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/python /fingerprint_generator.py
[Install]
WantedBy=multi-user.target